@{
    ViewBag.Title = "Home Page";
}

      <!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Home</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i>Home</li>
                </ol>
            </div>
        </div>
        <!-- page start-->
        <div class="page-404 welcome">
            <p class="text-404">Welcome</p>
            <h2>Enjoy our Resume Management !!!</h2>
            <p>
                Every interesting comes here. <br><br>
                <div style="width: 70%; margin:0 auto;">
                    <div style="text-align: left">
                        <span style="font-weight: bold; font-size: 15px;">1. Member and Role </span><br>
                        Junyeong Yu - 200328206 (Junyeong.Yu@MyGeorgian.ca)<br>
                        Junyeong Yu works alone about DB, Migration, View, Model, Controller and Authentication.<br>
                        <br>
                        <span style="font-weight: bold; font-size: 15px;">2. What is Resume Management actually doing?</span><br />
                        Resume Management is managing resumes and cover letters.<br>
                        After making them, they can be built as a package, which can be used as an application for company <br />
                        Each package (application) needs to be unique combination of resumes and cover letters. <br />
                    </div>
                </div>
                <br />
                <a href="/Resumes">Start from making Resumes</a>
            </p>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->